.message {
  display: flex
}

.message .bubble {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 12px;
  position: relative;
  animation: fadeIn 240ms ease-in
}

.message.me {
  justify-content: flex-end
}

.message.me .bubble {
  background: linear-gradient(90deg, #4f46e5, #6d28d9);
  color: white;
  border-bottom-right-radius: 4px
}

.message.them {
  justify-content: flex-start
}

.message.them .bubble {
  background: #f3f4f6;
  color: #111827;
  border-bottom-left-radius: 4px
}

.message .time {
  font-size: 11px;
  margin-top: 6px;
  opacity: 0.7;
  text-align: right
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}